.circle {
  border-radius: 100%;
}

.img-wrapper {
  display: flex;
  gap: 0.8rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: last baseline;
  border-top: 1px solid white;
  width: 90vw;
}

#github-logo {
  padding-bottom: 0.3rem;
}

.link-to-chingu {
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.link-to-chingu svg path {
  fill: white;
}

.footer-left {
  display: flex;
}
