#pop-up-card {
  background-color: #242424;
  box-shadow: 10rem 10rem #00000033;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  max-width: 650px;
  width: fit-content;
  color: whitesmoke;
}
