#search-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2em 0em;
}

#searchbar {
  height: 2.5em;
  border-radius: 5px;
  text-align: center;
  width: 30em;
}

#data-display-table {
  border: 1px solid whitesmoke;
  max-height: 80vh;
  overflow-y: scroll;
}

.button {
  margin: 1em;
  padding: 0.5em;
}

#selectedRangeTag {
  align-items: center;
  background: #f9f9f9;
  border-radius: 5px;
  display: flex;
  height: 2.5em;  
  padding: 0em 1em; 
}

#selectedRangeTag p {
  font-weight: 500;
}

#selectedRangeTag button {
    background: silver;
    border-radius: 50%;
    color: white;
    display: inline-block; 
    margin-left: 1em;
    padding: revert;    
}

.popup {  
  align-items: center;
  background-color: #3b3a3a;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;  
}

.popup-inner {
  background-color: #000;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 30vh;
  position: relative;  
  width: 50vw;  
}

.range-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;  
  width: 100%;
}

.range-wrapper div {
  padding: 2em;
}

input[type="number"] {  
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  height: 2em;
  margin: 0em 2em;
  text-align: center;
  width: 10em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.apply-btn {
  align-self: center;
  width: 5em;
}

.close-btn {
  background: #111;
  border: none;
  border-radius: 10px;
  color: #fff;  
  cursor: pointer;  
  position: absolute;  
  right: 15px;
  top: 10px;
  z-index: 0;
}

.close-btn:before {
  animation: glowing 20s linear infinite;
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.close-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.close-btn:active:after {
  background: transparent;
}

.close-btn:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}